.small-icon{
    font-size: 14px !important;
}
.inputbox{
    background-color: aqua;
    border: none !important;
    color: black !important;
}
#form input{
    margin-bottom: 0px !important;
    width: 50% !important;
   
}
#form label{
    color:inherit !important;
    top:12px;
}

.formpaper{
    padding: 20px;
}
.filters{
    border:none;
    padding:0;
    font-weight: bold;
    position: relative;
    bottom: 10px;
    width: 60%;
  }

  .filters1{
    border:none;
    padding:0;
    font-weight: bold;
    position: relative;
    bottom: 10px;
  }
  
  .filters2{
    border:none;
    padding:0;
    font-weight: bold;
    position: relative;
    bottom: 10px;
    width: 70%;
  }